/* Replace the existing import line with this */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
    background-color: black;
    height: 100%;
    margin: 0;
    overflow: hidden;
}
html::-webkit-scrollbar {
  display: none;
}
#app {
    height: 100%;
    overflow-y: auto;
    overscroll-behavior: none;
    position: fixed;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;
    -webkit-overflow-scrolling: touch; /* keeps momentum scrolling */
}

:root {
    font-family: 'Inter', system-ui, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    color: #000000;
    background-color: #ffffff;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/** Inline Links **/
.inline-link {
    font-weight: 600;
    text-decoration: none;
    position: relative;
    transition: all 0.3s ease;
    padding: 0 2px;
    text-decoration: underline;
    text-decoration-color: transparent;
    text-decoration-thickness: 1px;
    text-underline-offset: 4px;
}
.inline-link[data-hover-color="yellow"] {
    --hover-color: rgba(250, 225, 0, 0.3);
    --text-decoration-color: #FAE100;
}
.inline-link[data-hover-color="green"] {
    --hover-color: rgba(22, 163, 74, 0.3);
    --text-decoration-color: #16A34A;
}
.inline-link[data-hover-color="blue"] {
    --hover-color: rgba(32, 167, 224, 0.3);
    --text-decoration-color: #20A7E0;
}
.inline-link[data-hover-color="purple"] {
    --hover-color: rgba(147, 51, 234, 0.3);
    --text-decoration-color: #7E22CE;
}
.inline-link[data-hover-color="white"] {
    --hover-color: rgba(200, 200, 200, 0.3);
    --text-decoration-color: #acacac;
}
.inline-link[data-hover-color="black"] {
    --hover-color: rgba(104, 104, 104, 0.3);
    --text-decoration-color: #2B2B2B;
}
.inline-link:hover {
    background-color: var(--hover-color);
    text-decoration-color: var(--text-decoration-color);
    border-radius: 6px;
}

/*** Image Styles ***/
.inversion {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.polaroid {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.polaroid-inversion {
  box-shadow:
    0 0 10px rgb(126, 126, 126),
    0 0 20px rgba(255, 255, 255, 0.5);
}
.invisibility {
  opacity: 0;
  pointer-events: none;
  user-select: none;
}
/*** Text Styles ***/
body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  font-weight: 500;
  font-family: inherit;
  background-color: #495f60;
  cursor: pointer;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  min-height: 100vh;
  margin: 0;
  padding: 0
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.5s;
}
.fade-enter-from, .fade-leave-to {
  opacity: 0;
}
.fade-enter-to, .fade-leave-from {
  opacity: 1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #000000;
    background-color: #ffffff;
  }
}
